svg {
  display: flex;
  margin-inline: auto;
  margin-top: 1rem;
}

.visx-axis-tick text {
  fill: white;
  font-size: 0.7rem;
}

.visx-line {
  stroke-width: 0;
}

.visx-axis-line {
  /* stroke-width: 0.6; */
  stroke: #fff;
}

text {
  font-weight: bold;
}

.visx-bar {
  transition: height 1500ms, y 1500ms;
}
